

<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->
<!-- SUBMISSION FORM -->
	<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
  


<%= form_tag "/submission", method: 'post' do %>
<div id="formbackground" style="background-image: url('/assets/background_elevator.jpg');">
	<div class="container  formStyle">
		<div class="row">
		</div>
		<div class="row">
			<input class="basicInfos" name="fullName" id="fullName"  type="text" placeholder="First name" value = <%= current_user.firstName %>  >
			<input class="basicInfos" name="companyName" id="companyName"  placeholder="Company name*" required type="text" value = <%= current_user.companyName %> >
			<input class="basicInfos" name="email" 	id="email"  type="email" placeholder="Email" required value = <%= current_user.email %> >
			<input class="basicInfos" name ="phoneNumber" type="text" id="phoneNumber"  placeholder="Phone number*" required value = <%= current_user.phoneNumber %> >
		</div>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<!-- department selector--> 
				<select id="departmentSelector" name ="departmentSelector" onchange="departmentValue(); clearValue()">
					<option id="default_dpt">Select</option>
					<option value="residential">Residential</option>
					<option value="commercial">Commercial</option>
					<option value="corporate">Corporate</option>
					<option value="hybrid">Hybrid</option>
				</select>  <!-- /department selector -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<!-- inputs of specification -->
				<div id="specification">
					<input class="form_input" name="apartment" 	id="apartment"  type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of apartments">
					<input class="form_input" name="floor" 		id="floor"      type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of floors">
					<input class="form_input" name="basement" 	id="basement"   type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of basements">
					<input class="form_input" name="parking" 	id="parking"    type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of parking spaces">
					<input class="form_input" name="cage" 		id="cage"       type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of elevator cages">
					<input class="form_input" name="companie" 	id="companie"   type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of seperate tenant companie">
					<input class="form_input" name="occupant" 	id="occupant"   type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Maximum number of occupants per floor">
					<input class="form_input" name="business" 	id="business"   type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of distinct businesses">
					<input class="form_input" name="activity" 	id="activity"   type="number"  onchange="refresh(); resetRadio()" min="1" max="24" placeholder="Number of hours of activity"> <!-- Maximum of 24 hours -->
				</div>
				<!-- /inputs of specification -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<div id="rates">  <!-- /quality radio button -->
					<input type="radio"  id="s"  class="radioButton" name="quality" onclick="displayValue();" value="7565" />Standard<br/>
					<input type="radio"  id="p"  class="radioButton" name="quality" onclick="displayValue();" value="12345"/>Premium<br/>
					<input type="radio"  id="e"  class="radioButton" name="quality" onclick="displayValue();" value="15400"/>Excelium<br/>
				</div>  <!-- /quality radio button -->
			</div>
		</div> <!-- result inputs -->
		<div class="row">
			<div class="col-md-4">
				<p>Number of elevators needed</p>	
				<input class="resultbox" name="elevator_needed"  id="elevator_needed"></p>
			</div>
			<div class="col-md-4">
				<p>Price per elevator</p>			
				<input class="resultbox" name="elevator_cost"  id="elevator_cost"></p>
			</div>
			<div class="col-md-4">
				<p>Installation Cost</p>			
				<input class="resultbox" name="installation_cost" id="installation_cost"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<p>Total Cost</p>					
				<input class="resultbox"  name="total_cost"  id="total_cost"/>
			</div>
		</div>
		<div classs="row">
			<div class="col-md-12 d-flex justify-content-center addTo">
				<%# BUTTON SUBMIT %>
				<input class="btn btn-outline-success btn-lg submitBtn submission_form" type="submit" value="Send the quote" />
			</div>
		</div>
	</div>
	<!-- /result inputs -->
</div>
<%end%>

	</li>
	<% else %>
	<li>
	<%= link_to('Login', new_user_session_path) %>  
	<%= form_tag "/submission", method: 'post' do %>

<div id="formbackground" style="background-image: url('/assets/background_elevator.jpg');">
	<div class="container  formStyle">
		<div class="row">
			<input class="basicInfos" name="fullName" 	id="fullName"  type="text" placeholder="Full name*" required></input>
			<%# <input class="basicInfos" name="lastName" 	id="lastname"  type="text" placeholder="Last name*" required></input> %>
			<input class="basicInfos" name="companyName" 	id="companyName"  type="text" placeholder="Company name*" required></input>
			<input class="basicInfos" name="email" 		id="email"  type="email" placeholder="Email adress*" required></input>
			<input class="basicInfos" name ="phoneNumber" type="text"   placeholder="Phone number*" id="Phone number" required></input>
		</div>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<!-- department selector--> 
				<select id="departmentSelector" name ="departmentSelector" onchange="departmentValue(); clearValue()">
					<option id="default_dpt">Select</option>
					<option value="residential">Residential</option>
					<option value="commercial">Commercial</option>
					<option value="corporate">Corporate</option>
					<option value="hybrid">Hybrid</option>
				</select>  <!-- /department selector -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<!-- inputs of specification -->
				<div id="specification">
					<input class="form_input" name="apartment" 	id="apartment"  type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of apartments"></input>
					<input class="form_input" name="floor" 		id="floor"      type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of floors"></input>
					<input class="form_input" name="basement" 	id="basement"   type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of basements"></input>
					<input class="form_input" name="parking" 	id="parking"    type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of parking spaces"></input>
					<input class="form_input" name="cage" 		id="cage"       type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of elevator cages"></input>
					<input class="form_input" name="companie" 	id="companie"   type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of seperate tenant companie"></input>
					<input class="form_input" name="occupant" 	id="occupant"   type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Maximum number of occupants per floor"></input>
					<input class="form_input" name="business" 	id="business"   type="number"  onchange="refresh(); resetRadio()" min="1" placeholder="Number of distinct businesses">
					<input class="form_input" name="activity" 	id="activity"   type="number"  onchange="refresh(); resetRadio()" min="1" max="24" placeholder="Number of hours of activity"> <!-- Maximum of 24 hours -->
				</div>
				<!-- /inputs of specification -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<div id="rates">  <!-- /quality radio button -->
					<input type="radio"  id="s"  class="radioButton" name="quality" onclick="displayValue();" value="7565" />Standard<br/>
					<input type="radio"  id="p"  class="radioButton" name="quality" onclick="displayValue();" value="12345"/>Premium<br/>
					<input type="radio"  id="e"  class="radioButton" name="quality" onclick="displayValue();" value="15400"/>Excelium<br/>
				</div>  <!-- /quality radio button -->
			</div>
		</div> <!-- result inputs -->
		<div class="row">
			<div class="col-md-4">
				<p>Number of elevators needed</p>	
				<input class="resultbox" name="elevator_needed"  id="elevator_needed"></p>
			</div>
			<div class="col-md-4">
				<p>Price per elevator</p>			
				<input class="resultbox" name="elevator_cost"  id="elevator_cost"></p>
			</div>
			<div class="col-md-4">
				<p>Installation Cost</p>			
				<input class="resultbox" name="installation_cost" id="installation_cost"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<p>Total Cost</p>					
				<input class="resultbox"  name="total_cost"  id="total_cost"/>
			</div>
		</div>
		<div classs="row">
			<div class="col-md-12 d-flex justify-content-center addTo">
				<%# BUTTON SUBMIT %>
				<input class="btn btn-outline-success btn-lg submitBtn submission_form" type="submit" value="Add the the quote list" /> <br>
			</div>
		</div>
		
	</div>
	<!-- /result inputs -->
</div>

<%end%>
  </li>
<% end %>

<!-- SUBMISSION FORM -->

<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->

<!-- SUBMISSION FORM SCRIPT -->
<script> 

	/* ----- VARIABLE FOR VALUE ----- */
	var apartment = document.getElementById('apartment');
	var floor     = document.getElementById('floor');
	var basement  = document.getElementById('basement');
	var parking   = document.getElementById('parking');
	var cage      = document.getElementById('cage');
	var companie  = document.getElementById('companie');
	var occupant  = document.getElementById('occupant');
	var business  = document.getElementById('business');
	var activity  = document.getElementById('activity');
	/* ------------------------- */
	
	var colum = 0;
	var elevatorNeeded = 0;
	var totalElevator = 0;
	var totaloccupant = 0;
	var occupantPerFloor = 0;
	var totalCost = 0;
	var installationCost = 0;
	var totalCost = 0;
	/* ----- /VARIABLE FOR VALUE ----- */
	
	
	
	/* DEPARTMENT VALUE*/
	function departmentValue() { /*get the value of option selector and display the right input sepcification*/
		var department = $("#departmentSelector").val();
		if(department == "residential") {
			$('#default_dpt').hide(); /*hide the --select-- option*/
			$('.form_input').hide(); /*hide all of inputs*/
			$('#apartment').show(); /*show the inputs that I need*/
			$('#floor').show();
			$('#basement').show();
		} else if(department == "commercial"){
			$('#default_dpt').hide();
			$('.form_input').hide();
			  $('#business').show();
			 $('#floor').show();
			$('#basement').show();
			$('#parking').show();
			$('#cage').show();
		} else if(department == "corporate"){
			$('#default_dpt').hide();
			$('.form_input').hide();
			$('#companie').show();
			 $('#floor').show();
			$('#basement').show();
			$('#parking').show();
			$('#occupant').show();
		} else if(department == "hybrid"){		
			$('#default_dpt').hide();
			$('.form_input').hide();
			$('#business').show();
			 $('#floor').show();
			$('#basement').show();
			$('#parking').show();
			$('#occupant').show();
			$('#activity').show();
		} else{
			$('.form_input').hide();
		}
	}
	/* /DEPARTMENT VALUE*/
	
	/*block value in input field*/
	$(function() {
    $(".form_input").keypress(function(event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
		return false	
		}
    	});
	});
	/*block value in input field*/

	/* CLEAR VALUE */
	function clearValue() { /*Clear the value of the form each time a department is selected*/
	$('.form_input').val('');
	$('.resultbox').val('');
	}
	/* /CLEAR VALUE */

	
	/* CALC */
    function corporateCALC() {
        var department = $('#departmentSelector').val();
        if(department == 'corporate' || department == 'hybrid'){
            totalOccupant 	= (   (parseInt(floor.value) + parseInt(basement.value)) * parseInt(occupant.value)  );
            elevatorNeeded 	= Math.ceil(totalOccupant/1000) 
            colums 			= Math.ceil(  (  parseInt(floor.value) + parseInt(basement.value)    ) / 20  ); 
            totalElevator 	= Math.ceil(  elevatorNeeded / colums ) * colums;
			$('#elevator_needed').val(totalElevator);
        }
    }
	
	function commercialCALC() {
		var department = $("#departmentSelector").val();
		if(department == "commercial"){
			elevatorNeeded = parseInt(cage.value);
			totalElevator = parseInt(cage.value);									/*totalElevator 	= 	cage	*/
		$('#elevator_needed').val(parseInt(cage.value));	
		}
	}
	

	function residentialCALC() {
    let department = $("#departmentSelector").val();
	if(department == "residential"){
        occupantPerFloor  = Math.ceil(   parseInt(apartment.value) / parseInt(floor.value)   );
        elevatorNeeded    = Math.ceil( occupantPerFloor / 6   );
        colum             = Math.ceil(  parseInt(floor.value) / 20 );
        totalElevator     = colum * elevatorNeeded;
        $('#elevator_needed').val(parseInt(totalElevator));
    }
}
	
	
	function refresh() { /* refresh the number intered in the value and display them in the result*/
		corporateCALC();
		commercialCALC();
		residentialCALC();
		var department = $("#departmentSelector").val();
		var NaN  = Number.isNaN(elevatorNeeded);
		if(NaN == true){
			$('#elevator_needed').text('0');
	} else if(department == "commercial" && NaN == false){
		$('#elevator_needed').val(parseInt(cage.value));
	} else if(department == "residential" && NaN == false){
		$('#elevator_needed').val(parseInt(totalElevator));
	} else {}
	}
	/* /CALC */


	/* reset radio button */
	function resetRadio() {
		$('input[name="quality"]').prop('checked', false);
		$('#total_cost').text('0');
		$('#installation_cost').text('0');
		$('#elevator_cost').text('0');
	}	/* reset radio button */
	
	/* RADIO BUTTON */
	function displayValue() { /*get the value of radio button*/
	  var rates = $("input[name=quality]:checked").val(); /* IMPORTANT CODE !!!!! */
	
	  if(rates == "7565"){
		var fees = 10/100;
	  } else if(rates == "12345"){
		  fees = 13/100;
	  } else{
		  fees = 16/100;
	  }
	  
	
	  installationCost = totalElevator * (fees * rates); /*calc the installation cost*/
		$('#installation_cost').val(installationCost.toFixed(2));
	
		$('#elevator_cost').val(rates);
	
		totalCost = (totalElevator * rates) + installationCost; /*calc the total cost*/
		$('#total_cost').val(totalCost.toFixed(2));

	} /* /RADIO BUTTON*/

	</script>
