
	    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_key'] %>&callback=initMap"></script>

  <div id="map" style="height: 80vh; width: 100%;"></div>




<%# ####3 SCRIPT #### %>
<script type="text/javascript">
var name = '<%= @building_street_number_name %>'
var lat = <%= @lat %>
var lng = <%= @lng %>
var customer_name = '<%= @customer_name %>'
var num_battery = <%= @number_battery %>
var num_column = <%= @number_column %>
var num_elevator = <%= @number_elevator %>
var tech_name = '<%= @technician_name %>'




    var locations = []
    var model = [name, lat, lng]
    console.log(model)

     locations.push(model)

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(52.0012, -99.0676),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
  var contentString = '<div>'+
  '<br> ><p>Customer: <%= @customer_name %></p>'+
  '<p>Number of battery: <%= @number_battery %></p>'+
  '<p>Number of column: <%= @number_column %></p>'+
  '<p>Number of elevator: <%= @number_elevator %></p>'+
  '<p>Name of the technician: <%= @technician_name %></p>'+
  '</div>'

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0] + contentString);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
